{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
  <div class="pagination-bar">
    <ul class="pagination">
      {{ if .Site.Params.swapPaginator }}
        {{ if .Paginator.HasPrev }}
          <li class="pagination-prev">
            <a class="btn btn--default btn--small" href="{{ .Paginator.Prev.URL }}" aria-label="OLDER POSTS">
              <i class="fa fa-angle-left text-base icon-mr"></i>
              <span>OLDER POSTS</span>
            </a>
          </li>
        {{ end }}
        {{ if .Paginator.HasNext }}
          <li class="pagination-next">
            <a class="btn btn--default btn--small" href="{{ .Paginator.Next.URL }}" aria-label="NEWER POSTS">
              <span>NEWER POSTS</span>
              <i class="fa fa-angle-right text-base icon-ml"></i>
            </a>
          </li>
        {{ end }}
      {{ else }}
        {{ if .Paginator.HasPrev }}
          <li class="pagination-prev">
            <a class="btn btn--default btn--small" href="{{ .Paginator.Prev.URL }}" aria-label="NEWER POSTS">
              <i class="fa fa-angle-left text-base icon-mr"></i>
              <span>NEWER POSTS</span>
            </a>
          </li>
        {{ end }}
        {{ if .Paginator.HasNext }}
          <li class="pagination-next">
            <a class="btn btn--default btn--small" href="{{ .Paginator.Next.URL }}" aria-label="OLDER POSTS">
              <span>OLDER POSTS</span>
              <i class="fa fa-angle-right text-base icon-ml"></i>
            </a>
          </li>
        {{ end }}
      {{ end }}
      <li class="pagination-number">page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</li>
    </ul>
  </div>
{{ end }}
