---
layout: default
---

<!-- Post Header -->
<style type="text/css">
    header.intro-header{
        background-image: {% if page.header-img %} url('{{ site.BASE_PATH }}{{ page.header-img }}'){% endif %}{% if page.bg-color %} {{ page.bg-color }}{% endif %}
    }
</style>

<header class="intro-header" >
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>{{ page.title }}</h1>
                    {% comment %}
                        always create a h2 for keeping the margin , Hux
                    {% endcomment %}
                    {% comment %} if page.subtitle {% endcomment %}
                    <h2 class="subheading">{{ page.subtitle }}</h2>
                    {% comment %} endif {% endcomment %}
                    <span class="meta">Posted by {% if page.author %}{{ page.author }}{% else %}{{ site.title }}{% endif %} on {{ page.date | date: "%B %-d, %Y" }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
<!-- Main Content -->
	<div class="container">
		<div class="row">

		<!-- Post Container -->
    		<div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">
				
    			{{ content }}
				
				<p class="text-right">
				<a href="/">{{ page.author }}</a>
				<span class="time">
				/
				<time>{{ page.date | date:"%Y-%m-%d" }}</time>
				<style>span.test {color: #0085A5;font-weight: bold;}</style>
				</span>/&nbsp;<span data-hk-page="current" class="test"> - </span>&nbsp;views
				<br>
				<span>
					<strong><em>Published under<a href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/">(CC) BY-NC-SA 3.0 CN</a>.
					</em></strong>
				</span>
				
					
				
				</p>
	
					<hr>
					{% unless page.categories == empty %}
					<ul class="tag_box list-unstyled list-inline">
					<li><i class="fa fa-folder-open"></i></li>
					{% assign categories_list = page.categories %}
					{% if categories_list.first[0] == null %}
						{% for category in categories_list %} 
							<li><a href="{{ site.BASE_PATH }}/{{ site.categories_path }}#{{ category }}-ref">
								{{ category | join: "/" }} <span>({{ site.categories[category].size }})</span>
								{% unless forloop.last %},{% endunless %}
							</a></li>
						{% endfor %}
					{% else %}
						{% for category in categories_list %} 
							<li><a href="{{ site.BASE_PATH }}/{{ site.categories_path }}#{{ category[0] }}-ref">
								{{ category[0] | join: "/" }} <span>/{{ category[1].size }})</span>
							</a></li>
						{% endfor %}
					{% endif %}
					</ul>
					{% endunless %}  
			
					{% unless page.tags == empty %}
					<ul class="list-inline">
					<li><i class="fa fa-tags"></i></li>
					{% assign tags_list = page.tags %}
					{% if tags_list.first[0] == null %}
						{% for tag in tags_list %} 
							<li>
								<a href="{{ site.BASE_PATH }}/{{ site.tags_path }}#{{ tag }}-ref">
								{{ tag }} <span>({{ site.tags[tag].size }})</span>
								{% unless forloop.last %},{% endunless %}
								</a>
							</li>
						{% endfor %}
					{% else %}
						{% for tag in tags_list %} 
							<li>
								<a href="{{ site.BASE_PATH }}/{{ site.tags_path }}#{{ tag[0] }}-ref">
									{{ tag[0] }} <span>({{ tag[1].size }})</span>
									{% unless forloop.last %},{% endunless %}
								</a>
							</li>
						
						{% endfor %}
					{% endif %}
					{% assign tags_list = nil %}
					</ul>
					{% endunless %}  
			
					<hr>

                <ul class="pager">
                    {% if page.previous %}
                    <li class="previous">
                      <a href="{{ site.BASE_PATH }}{{ page.previous.url }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<br>
                      <span>{{page.previous.title}}</span></a></li>
                    {% else %}
                    <li class="previous disabled"><a>&larr; Previous</a></li>
                   {% endif %}
                   {% if page.next %}
                    <li class="next"><a href="{{ site.BASE_PATH }}{{ page.next.url }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next &rarr;<br>
                    <span>{{page.next.title}}</span></a></li>
                    {% else %}
                    <li class="next disabled"><a>Next &rarr;</a>
                    {% endif %}
                </ul>

                {% if site.duoshuo_username %}
                <!-- 多说评论框 start -->
		<div id="SOHUCS" sid="{{page.id}}" ></div>
			
		<a href="#SOHUCS" id="changyan_count_unit"></a>//评论数
		<a href="#SOHUCS" id="changyan_parti_unit"></a>//参与数
		<script type="text/javascript" src="https://assets.changyan.sohu.com/upload/plugins/plugins.count.js">
		</script>
		<!-- 注释多说评论
		<div class="comment">
                    <div class="ds-thread"
                        data-thread-key="{{page.id}}"
                        data-title="{{page.title}}"
                        data-url="{{site.url}}{{site.BASE_PATH}}{{page.url}}" >
                    </div>

                </div>
	        --->
                <!-- 多说评论框 end -->
                {% endif %}
				
                {% if site.disqus %}
                <!-- disqus 评论框 start -->
                <div class="comment">
                    <div id="disqus_thread" class="disqus-thread"></div>
                </div>
                <!-- disqus 评论框 end -->
                {% endif %}

            </div>
		<!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">


                <!-- Friends Blog -->
                {% if site.friends %}
                <hr>
                <h5>友情链接</h5>
                <ul class="list-inline">
                    {% for friend in site.friends %}
                        <li><a href="{{friend.href}}" target="_blank">{{friend.title}}</a></li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
    </div>
</article>

{% if site.duoshuo_username %}
<!-- 畅言JS代码start-->
<script type="text/javascript"> 
(function(){ 
var appid = 'cyt4EmGx1'; 
var conf = 'prod_95359b2bdca543237b07790b1e9bc9df'; 
var width = window.innerWidth || document.documentElement.clientWidth; 
if (width < 960) { 
window.document.write('<script id="changyan_mobile_js" charset="utf-8" type="text/javascript" src="http://changyan.sohu.com/upload/mobile/wap-js/changyan_mobile.js?client_id=' + appid + '&conf=' + conf + '"><\/script>'); } else { var loadJs=function(d,a){var c=document.getElementsByTagName("head")[0]||document.head||document.documentElement;var b=document.createElement("script");b.setAttribute("type","text/javascript");b.setAttribute("charset","UTF-8");b.setAttribute("src",d);if(typeof a==="function"){if(window.attachEvent){b.onreadystatechange=function(){var e=b.readyState;if(e==="loaded"||e==="complete"){b.onreadystatechange=null;a()}}}else{b.onload=a}}c.appendChild(b)};loadJs("http://changyan.sohu.com/upload/changyan.js",function(){window.changyan.api.config({appid:appid,conf:conf})}); } })(); </script>
<!-- 畅言公共JS代码 end -->
{% endif %}

{% if site.disqus %}
<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus}}";
    var disqus_identifier = "{{page.id}}";
    var disqus_url = "{{site.BASE_PATH}}{{page.url}}";
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

{% if site.anchorjs %}
<!-- async load function -->
<script>
    function async(u, c) {
      var d = document, t = 'script',
          o = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      o.src = u;
      if (c) { o.addEventListener('load', function (e) { c(null, e); }, false); }
      s.parentNode.insertBefore(o, s);
    }
</script>
<!-- anchor-js, Doc:http://bryanbraun.github.io/anchorjs/ -->
<script>
    async("//cdnjs.cloudflare.com/ajax/libs/anchor-js/3.2.2/anchor.min.js",function(){
        anchors.options.placement = 'left';
        anchors.add('h2,h3');
		anchors.remove('.subheading');
    })
</script>
{% endif %}

{% if page.mathjax %}
<!-- mathjax, Doc: http://docs.mathjax.org/en/latest/start.html -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
{% endif %}

<!-- for R highlight -->
<script type="text/javascript" src="{{ site.BASE_PATH }}/assets/js/r-highlight.js"></script>
